from pydantic_settings import BaseSettings
from typing import List, Union

class Settings(BaseSettings):
    # As variáveis de ambiente que configurou no Dashboard da Render
    ALLOWED_ORIGINS: Union[List[str], str] = ["*"]
    DEBUG: str = "false"
    ENVIRONMENT: str = "production"
    SECRET_KEY: str = "sua-chave-secreta"
    
    # A correção vital para resolver o erro do Uvicorn:
    LOG_LEVEL: str = "INFO"
    
    # Configuração de segurança do Pydantic v2
    model_config = {
        "env_file": ".env",
        "extra": "ignore" # Protege a aplicação ignorando variáveis extra não declaradas
    }

# Instancia as configurações para serem importadas pelo main.py
settings = Settings()
